$black: #070707;

.footer {
  padding: 4rem 2.5rem;
  //max-width: 85rem;
  margin: 0 auto;

  & .social {
    width: 100%;
    justify-content: flex-end;
  }

  &.active {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    z-index: 5;
    background: #ebf1f5;

    transform: translate(-50%, 0);
  }
}

.nav {
  padding-top: 4px;

  &__link .small {
    cursor: pointer;
  }

  &__link:not(:last-child) {
    margin-right: 2rem;
  }

  &__dot {
    opacity: 0;
    transition: .3s linear;
  }

  &__link:hover {
    transform: translate(0, -0.25rem);
    color: $big_text;
    transition: .2s linear;

    & > .nav__dot {
      opacity: 1;
    }
  }
}