$big_text: #ce8a0d;
$black: #070707;
//$text: #9ba1a0;
$text: #d3d3d3;
//$text: #a0a8a6;
$BG: rgb(10, 10, 10);
$border: #7f8081;
$hover: rgba(222, 226, 229, 0.55);
$loader: #B2FFF2;
$darkgray: rgb(105, 105, 105);
$active: rgba(222, 226, 229, 0.7);

* {
  box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
#root{
  position: relative;
}
body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $BG;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.block{
  display: block;
}
.container-80 {
  width: 100%;
  //max-width: 80rem;
  margin: 0 auto;
}

.container-64 {
  width: 100%;
  //max-width: 64rem;
  margin: 0 auto;
}

.container-48 {
  width: 64%;
  //max-width: 48rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.j-end{
  justify-content: flex-end;
}
.j-start{
  justify-content: start;
}
.col {
  flex-direction: column;
}

.center {
  align-items: center;
}

.base {
  align-items: baseline;
}

.end {
  align-items: flex-end;
}

.text-start {
  text-align: start !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.space-b {
  justify-content: space-between;
}
.space-end {
  justify-content: flex-end;
}
.space-a {
  justify-content: space-around;
}
.space-evently{
  justify-content: space-evenly;
}
.b-0{
  bottom: 0;
}
.gap-16{
  gap: 16px;
}
.gap-32{
  gap: 32px;
}
.pl-16{
  padding-left: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-8 {
  margin-top: 8px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-52 {
  margin-top: 52px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-112 {
  margin-top: 112px;
}

.mr-16 {
  margin-right: 16px;
}
.mr-8r {
  margin-right: 8rem;
}
.ml-8r{
  margin-left: 8rem;
}
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-52 {
  margin-bottom: 52px !important;
}

.m-52 {
  margin: 52px 0 !important;
}

.p-20{
  padding: 20px;
}
.p-25r{
  padding: 0 2.5rem;
}
.p-50{
  padding: 50px;
}
.p_top {
  padding-top: 10px;
}
.w-100 {
  width: 100%;
}
.h-100{
  height: 100%;
}

.col-gap {
  column-gap: 1rem;
}

//-------------------------------------- TEXT
.text-start {
  text-align: left;
  cursor: default;
}
.text-center {
  text-align: center;
  cursor: default;
}

.text-end {
  text-align: right;
  cursor: default;
}

a {
  text-decoration: none;
}

//a.active {
//  background: $active;
//  color: $black;
//  border-color: $black;
//}
.numb{
  font-size: 60px;
}
.h1 {
  font-size: 64px;
  color: $big_text;
  margin: 0;
  text-align: center;
  font-weight: 500;
  cursor: default;
}

.h2 {
  font-size: 60px;
  font-weight: 500;
  cursor: default;
  color: $big_text;
}

.h3 {
  font-size: 40px;
  font-weight: 500;
  cursor: default;
  color: $big_text;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}
.fs-36{
  font-size: 36px;
  font-weight: 900;
}

.fs-56 {
  font-size: 56px;
  font-weight: 500;
}

.regular {
  font-size: 18px;
  cursor: default;
}

.small {
  font-size: 12px;
  cursor: default;
}

//-------------------------------------- TEXT

//-------------------------------------- COLOR

.gray {
  color: $text;
}
.orange{
  color: $big_text;
}
.dark-gray {
  color: $darkgray;
}
.dark-gray-bg {
  background: $darkgray;
}

.bg {
  background: $BG;
}

.black {
  color: $black;
}

.light {
  background: rgba(178, 255, 242, 0.3);
}

.dark {
  background: $black;
}

.white {
  color: white;
}

.white-bg {
  background: white !important;
}

//-------------------------------------- COLOR
.logo {
  text-align: center;
  padding: 20px 0;

  &-mini {
    cursor: default;
    &-cont{
      width: 100%;
    }
    & .logo-img{
      width: 48px;
    }
  }

  &-img {
    cursor: pointer;
  }
  &.active{
    width: 100%;
    background: $BG;
    position: fixed;
    z-index: 7;
  }
}

.ico-img {
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;

  &-cont {
    object-fit: contain;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }
  &__main{
    min-height: 22rem;
  }
}
.video-cont {
  width: 100%;
  overflow: hidden;       /* чтобы видео не вылазило */
  position: relative;
}
.home-video::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  background-image: url("../../public/assets/noise6.png");
  opacity: 0.2;
  mix-blend-mode: overlay;
  pointer-events: none;
}
.video{
  width: 100%;
  height: 100%;
  background: $black;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: contrast(1.05) brightness(1.02);
}

.thumb-wrap {
  position: relative;
  padding-bottom: 75%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.box {
  background: $BG;
  border: 1px solid $border;
  border-radius: 25px;
  padding: 2px 5px;
  max-width: max-content;
  width: 100%;
  height: max-content;
}

.dot {
  min-width: 4px;
  min-height: 4px;
  width: 4px;
  height: 4px;
  background: rgb(178, 255, 242);
  border-radius: 5px;
  margin-right: 3px;
  //background: $text;
}

.round {
  height: 12px;
  min-width: 12px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 6px;
  &.bg-black{
    border-color: black !important;
  }
}

.mark {
  width: 19px;
  height: 19px;
  margin-right: 1rem;
}

.long-btn {
  background: white;
  border-radius: 25px;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &-text{
    font-size: 42px;
    font-weight: bold;
    color: $black;
  }
  & > .btn{
    margin-left: 0;
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  margin-left: 16px;
  width: 64px;
  height: 40px;
  border: 1px solid $border;
  border-radius: 25px;

  &-img {
    width: 14px;
    height: 20px;
    position: absolute;
    z-index: 1;
  }

  &-bg {
    position: absolute;
    transition: 0.2s linear;
    width: 0;
    height: 0;
    border-radius: 20px;
    background: $hover;
  }
}

.hover__card .h3, .hover__card .small {
  cursor: pointer;
}

.hover__card:hover .title {
  color: $text;
}

.nav__btn:hover {
  //border-color: $black;

  & .btn {
    &-bg {
      width: 100%;
      height: 100%;
    }
  }
}

.link-btn:hover .btn, .hover__card:hover .btn {
  &-bg {
    width: 100%;
    height: 100%;
  }

  &-img {
    animation: .5s cubic-bezier(0.65, 0.05, 0.36, 1) move;
  }
}

.footer .social__cont {
  border: 1px solid $text;
}

.social {
  gap: 12px;
  &__cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $text;
    border-radius: 50%;
    z-index: 1;
    & .light ~ .social__img {
      fill: white;
    }

    &:hover {
      & > .light ~ .social__img {
        fill: white;
      }

      & > .social__bg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bg {
    transition: linear .2s;
    width: 0;
    height: 0;
    border-radius: 50%;

    & .dark {
      background: $black;
    }
  }

  &__img {
    position: absolute;
    width: 14px;
    z-index: 1;
  }
}

.g_kroot {
  &:hover {
    & .h3 {
      color: white;
    }
  }

  & .home__card {
    background: #B9C0C5;
  }

  & .gray {
    color: white;
  }

  & .dot {
    background: white !important;
  }

  & .small {
    color: white !important;
  }

  & .btn {
    border-color: $black;
    background: white;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $hover;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black;
}

@keyframes move {
  10% {
    right: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    left: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}