.loader__cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.equalizer {
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 55px;
    align-items: center;
  }
}

.round-logo {
  //border: 8px solid black;
  border: 8px solid $loader;
  border-radius: 50%;
  padding: 40%;
}

.round-box {
  justify-content: center;

  & > .round-logo:first-child {
    margin-right: 8px;
  }
}

.line {
  position: relative;
  //background-color: black;
  background-color: $loader;
  border-radius: 50%;

  &-1 {
    width: 4px;
    animation: a-line 0.25s infinite alternate;
  }

  &-2 {
    width: 10px;
    animation: b-line 0.22s infinite alternate;
  }

  &-3 {
    width: 8px;
    animation: c-line 0.24s infinite alternate;
  }

  &-4 {
    width: 6px;
    animation: d-line 0.22s infinite alternate;
  }

  &-5 {
    width: 4px;
    animation: e-line 0.23s infinite alternate;
  }

  &-6 {
    width: 6px;
    animation: f-line 0.21s infinite alternate;
  }

  &-7 {
    width: 4px;
    animation: g-line 0.24s infinite alternate;
  }

  &-8 {
    width: 14px;
    animation: h-line 0.20s infinite alternate;
  }

  &-9 {
    width: 6px;
    animation: i-line 0.25s infinite alternate;
  }

  &-10 {
    width: 4px;
    animation: j-line 0.22s infinite alternate;
  }
}

@keyframes a-line {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@keyframes b-line {
  0% {
    height: 12px;
  }
  100% {
    height: 30px;
  }
}

@keyframes c-line {
  0% {
    height: 10px;
  }
  100% {
    height: 24px;
  }
}

@keyframes d-line {
  0% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}

@keyframes e-line {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@keyframes f-line {
  0% {
    height: 10px;
  }
  100% {
    height: 24px;
  }
}

@keyframes g-line {
  0% {
    height: 6px;
  }
  100% {
    height: 18px;
  }
}

@keyframes h-line {
  0% {
    height: 12px;
  }
  100% {
    height: 30px;
  }
}

@keyframes i-line {
  0% {
    height: 10px;
  }
  100% {
    height: 24px;
  }
}

@keyframes j-line {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}