@media screen and (max-width: 1440px) {
  .card {
    &-ss {
      grid-row-end: span 40;
    }

    &-s {
      grid-row-end: span 46;
    }

    &-m {
      grid-row-end: span 52;
    }

    &-l {
      grid-row-end: span 57;
    }

    &-xl {
      grid-row-end: span 63;
    }

    &-xxl {
      grid-row-end: span 68;
    }
  }
  .contacts__grid {
    display: flex;
    flex-direction: column;

    &-card {
      //border: 2px solid #282828;
      border-radius: 15px;
      box-shadow: 0 0 8px 0 #282828;
    }
  }
  .contacts__photo {
    width: 300px;
  }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1200px) {
  .input__input {
    padding: .5rem 1rem;
  }
  .filter__grid {
    gap: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .fs-36 {
    font-size: 32px;
  }
  .menu__item {
    font-size: 20px;
  }
  .mb-52 {
    margin-bottom: 32px !important;
  }
  .container-48 {
    width: 75%;
  }
  .filter__btn {
    border: none;
  }
  .card {
    &-ss {
      grid-row-end: span 30;
    }

    &-s {
      grid-row-end: span 35;
    }

    &-m {
      grid-row-end: span 40;
    }

    &-l {
      grid-row-end: span 46;
    }

    &-xl {
      grid-row-end: span 51;
    }

    &-xxl {
      grid-row-end: span 57;
    }
  }
  .projects__text {
    font-size: 18px;
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .about__text-cont {
    padding: 20px 40px;
  }
  .h1 {
    font-size: 50px;
  }
  .footer > .flex {
    flex-direction: column;
    gap: 50px;
  }
  .footer .social {
    justify-content: center;
  }
  .logo-mini {
    text-align: center;
  }
  .about__grid-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services .home-video {
    height: 82vh;
  }
  .apps__img {
    width: 56px;
    height: 56px;
  }
  .contacts__cont {
    flex-direction: column;

    & .social__cont {
      width: 30px;
      height: 30px;
    }
  }
  .carousel__dot {
    width: 10px;
    height: 10px;

    &-cont {
      padding: 10px;
    }
  }
  .label {
    &__before, &__after {
      bottom: 0;
      font-size: 14px;
      width: 80px;
    }

    &__before {
      left: 2%;
    }

    &__after {
      right: 2%;
    }
  }
}

@media screen and (max-width: 767px) {
  .home .home {
    &-video {
      height: 50vh;
    }

    &-img {
      height: 50vh;
    }
  }
  .fs-36 {
    font-size: 20px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3, .fs-56 {
    font-size: 26px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .numb {
    font-size: 54px;
  }
  .regular {
    font-size: 16px;
  }
  .menu__item {
    font-size: 18px;
  }
  .container-48 {
    width: 100%;
    padding: 10px 40px 0;
  }
  .form__cont {
    padding: 3rem 2rem;
  }
  .about__grid-cards {
    display: flex;
    flex-direction: column;
  }
  .services__grid {
    row-gap: 10px;
  }
  .services .home-video {
    height: 73vh;
  }
  .card {
    &-ss {
      grid-row-end: span 18;
    }

    &-s {
      grid-row-end: span 20;
    }

    &-m {
      grid-row-end: span 24;
    }

    &-l {
      grid-row-end: span 28;
    }

    &-xl {
      grid-row-end: span 30;
    }

    &-xxl {
      grid-row-end: span 32;
    }
  }
  .contacts__grid-card {
    gap: 12px;
  }
}

@media screen and (max-width: 660px) {
  .about__text-cont {
    padding: 10px 40px;
  }
  .p_top {
    padding-top: 75px !important;
  }
  .mb-52 {
    margin-bottom: 16px !important;
  }
  .services__grid {
    column-gap: 8px;
  }
  .projects__text {
    font-size: 16px;
  }
  .projects__card:hover {
    border-width: 6px;
  }
  .img__tel {
    height: 20px;
  }
  .mt-112 {
    margin-top: 80px;
  }
}

@media screen and (max-width: 550px) {
  .about__main-img {
    height: 16rem;
  }
  .full-name {
    flex-direction: column;
  }
  .header {
    padding: 20px;
  }
  .container-48 {
    padding: 10px 20px 0;
  }
  .services__grid {
    display: flex;
    flex-direction: column;
  }
  .services__options {
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
  }
  .about__text-cont, .about__card, .services__grid, .p-25r {
    padding: 10px 20px;
  }
  .services__card {
    padding: 0;
  }
  .projects__text {
    font-size: 14px;
    left: 10px;
    bottom: 10px;
  }
  .apps__img {
    width: 34px;
    height: 34px;
  }
  .contacts__grid-card {
    gap: 32px;
  }
  .contacts__grid-card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts__text {
    width: 100%;
  }
  .details .h1 {
    font-size: 38px;
  }
  .mt-32{
    margin-top: 16px;
  }
  .career__card{
    padding: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .footer .nav {
    flex-direction: column;
    gap: 10px;

    &__link {
      margin: 0;
    }
  }
  .form__cont {
    padding: 1.5rem 1rem;
  }
  .about__grid-small {
    display: flex;
    flex-direction: column;
  }
  .numb {
    font-size: 40px;
  }
  .services .home-video {
    height: 85vh;
  }
  .card {
    &-ss {
      grid-row-end: span 12;
    }

    &-s {
      grid-row-end: span 14;
    }

    &-m {
      grid-row-end: span 16;
    }

    &-l {
      grid-row-end: span 17;
    }

    &-xl {
      grid-row-end: span 18;
    }

    &-xxl {
      grid-row-end: span 19;
    }
  }
  .projects__text {
    font-size: 12px;
  }
  .mt-112 {
    margin-top: 40px;
  }
  .label {
    &__before, &__after {
      font-size: 12px;
      width: 60px;
    }
  }
}

@media screen and (max-width: 375px) {
  .home .home {
    &-video {
      height: max-content;
    }

    &-img {
      height: 25vh;
    }

    &__card-title {
      padding: 5%;
    }
  }
  .fs-36 {
    font-size: 18px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3, .fs-56 {
    font-size: 24px;
  }
  .fs-20 {
    font-size: 16px;
  }
  .regular {
    font-size: 14px;
  }
  .menu__item {
    font-size: 14px;
  }
  .mt-32 {
    margin-top: 16px;
  }
  .about__text-cont .h3 {
    text-align: center;
  }
  .projects__text {
    font-size: 10px;
  }
  .contacts__photo {
    width: 250px;
  }
  .mt-112 {
    margin-top: 20px;
  }
}