@media screen and (max-width: 1440px) {
  .footer.active {
    padding: 1.5rem 2.5rem;
  }
  .about__main-img {
    min-height: 22rem;
  }
}

@media screen and (max-width: 1280px) {
  .filter__grid {
    gap: 8px;
  }
  .logo {
    padding: 10px;
  }
  .p_top {
    padding-top: 86px;
  }
  .footer.active {
    padding: 1rem 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .details__grid {
    grid-auto-rows: 16rem;
  }
  .fs-56{
    font-size: 52px;
  }
}

@media screen and (max-width: 1024px) {
  .about__grid-cards{
    grid-auto-rows: 18rem;
  }
  .images-cont {
    padding: 1.5rem 1rem;
  }
  .label {
    &__before, &__after {
      font-size: 18px;
    }
  }
  .fs-56{
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .logo-mini {
    width: 60%;
  }
  .about__grid {
    grid-template-areas:
        "numbers"
        "options";
  }
  .about__grid, .about__grid-cards, .details__grid, .generation__grid-cards {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .services {
    &__grid{
      grid-template-columns: 1fr;
    }
    &-row {
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }
  }
  .details__grid {
    grid-auto-rows: 22rem;
    grid-template-areas:
            "projects"
            "breakdown"
            "official";
  }
  .about__grid-cardsP {
    grid-auto-rows: 22rem;
  }
  .contacts__ {
    &photo{
      align-self: center;
      width: 50vw;
    }
    &text{
      width: 100%;
    }
    &grid-card {
      flex-direction: column-reverse;
    }
  }
  .about__main-img {
    min-height: 18rem;
  }
  .projects {
    &__btn {
      padding: 1.5rem;
    }
  }
  .filter__text {
    width: max-content;
    font-size: 14px;
  }
  .apps__img {
    width: 64px;
    height: 64px;
  }
  .supervisor {
    &__flex {
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__card {
      max-width: 220px;
    }
  }
  .generation__grid-links {
    gap: 1rem;
  }
  .filter__grid {
    gap: 0;
  }
  .carousel__dot {
    width: .75rem;
    height: .75rem;
  }
  .mt-112{
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    &__cont {
      width: 48%;
      padding: 3rem;
    }

    &__social {
      margin-bottom: 3rem;
    }

    & > div {
      flex-direction: column;
    }
  }
  .long-btn {
    padding: 1.5rem;
  }
  .details__grid, .about__grid-cards {
    grid-auto-rows: 20rem;
  }
  .about {
    &__text-cont {
      height: 100%;
      padding: 3rem;
      position: relative;
      z-index: 1;

      & p {
        padding: 1rem 0;
      }

      & h3 {
        text-align: center;
      }
    }
    &__main-img {
      min-height: 14rem;
    }
    &__img {
      position: absolute;
      height: auto;
      transform: translate(0, -50%);
      top: 50%;
    }
  }
  .footer > div {
    flex-direction: column;
    text-align: center;
  }
  .footer .nav {
    padding: 4rem 0;
  }
  .footer .nav, .footer .social {
    justify-content: center;
  }
  .filter__btn {
    width: 30%;
  }
  .long-btn-text {
    font-size: 38px;
  }
}

@media screen and (max-width: 660px) {
  .apps__img {
    width: 54px;
    height: 54px;
  }
  .long-btn {
    padding: 1.25rem;
  }
  .generation__grid-links {
    grid-template-columns: repeat(3, 1fr);
  }
  .work__card .options {
    margin-left: 1.5rem;
  }
  .contacts__photo{
      align-self: center;
      width: 100%;

  }
  .long-btn-text {
    font-size: 36px;
  }
  .label {
    &__before, &__after {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 550px) {
  .h1 {
    font-size: 52px;
  }
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 36px;
  }
  .fs-56{
    font-size: 48px;
  }
  .nav {
    justify-content: space-between;

    &__btn {
      width: 30%;
    }

    &__cont {
      padding: 1.5rem;
    }

    &__link {
      margin-right: 0 !important;
    }
  }
  .section {
    padding: 0 5vw;
  }
  .details__grid, .about__grid-cards {
    grid-auto-rows: 18rem;
  }
  .contacts__text, .contacts {
    padding: 1.5rem 1rem;
  }
  .contacts__text > div:last-child {
    flex-direction: column;
    gap: 1rem;
  }
  .apps__cont > div {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  .filter__btn {
    width: 45%;
  }
  .about {
    &__img {
      position: relative;
      transform: none;
    }

    &__main-img {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 2rem;
      border-radius: 25px;
      min-height: 20rem;
    }

    &__text-cont {
      padding: 1rem 2rem 2rem;
    }

    & .h3 {
      font-size: 24px;
    }

    & .regular {
      font-size: 12px;
      padding: .5rem 0;
    }
  }
  .generation__grid-links {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel__dot {
    width: .65rem;
    height: .65rem;
  }
  .images-cont {
    padding: 1rem 0.8rem;
  }
  .img__main{
    min-height: 14rem;
  }
  .long-btn-text {
    font-size: 30px;
  }
  .mt-112{
    margin-top: 70px;
  }
}

@media screen and (max-width: 450px) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 38px;
  }
  .h3 {
    font-size: 32px;
  }
  .apps__cont, .career__card {
    padding: 1rem 1.25rem;
  }
  .footer .nav {
    flex-direction: column;
    align-items: center;

    &__link:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .mark {
    margin-right: 0.5rem;
  }
  .home {
    &__card {
      padding: 1.5rem 1rem;

      &-text-cont {
        padding: 1.5rem 1rem;
      }
    }

    &__social {
      bottom: 1.5rem;
      left: 1rem;
    }
  }
  .details__grid, .about__grid-cards {
    grid-auto-rows: 16rem;
  }
  .services {
    &__card {
      padding: 1rem;
    }
    &__link {
      text-align: center;
    }
    &-row {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  }
  .form__cont {
    padding: 3rem 1.5rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  .filter__btn {
    width: 55%;
  }
  .career__card {
    flex-direction: column;

    & .btn {
      width: 100%;
      margin-top: 1rem;
    }
  }
  .work__card .options {
    margin-left: 0;
  }
  .images-cont {
    padding: 0.8rem 0.8rem;
  }
  .img__main{
    min-height: 10rem;
  }
  .long-btn-text {
    font-size: 26px;
  }
  .label {
    &__before, &__after {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 375px) {
  .social__cont:not(:last-child) {
    margin-right: .5rem;
  }
  .long-btn-text {
    font-size: 22px;
  }
}