.services {
  & .text_details {
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 32px;
    //padding-top: 2rem;
  }

  &__card {
    padding: 0 2.5rem;
    //background: white;
    border-radius: 25px;
  }

  &__link {
    padding: 0px 8px 1px;
    border: 2px solid #aaaaaa;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.15s linear;
    background: $black;

    &:hover {
      background: $BG;
      color: $darkgray;
    }
  }
}